---
import { type CollectionEntry, getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import SubscribeButton from "@components/SubscribeButton.astro";
import OpenInAI from "@components/OpenInAI.astro";
import IssueNavigation from "@components/IssueNavigation.astro";

export async function getStaticPaths() {
  const issues = (await getCollection("issues"))
    .filter((issue) => !issue.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return issues.map((issue) => ({
    params: { id: issue.id.replace(/\/index\.md$/, "").replace(/\.md$/, "") },
    props: issue,
  }));
}
type Props = CollectionEntry<"issues">;

const issues = (await getCollection("issues"))
  .filter((issue) => !issue.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

function getNextIssue() {
  let issueIndex;
  for (const issue of issues) {
    if (issue.id.replace(/\/index\.md$/, "").replace(/\.md$/, "") === Astro.params.id) {
      issueIndex = issues.indexOf(issue);
      return issues[issueIndex + 1];
    }
  }
}

function getPrevIssue() {
  let issueIndex;
  for (const issue of issues) {
    if (issue.id.replace(/\/index\.md$/, "").replace(/\.md$/, "") === Astro.params.id) {
      issueIndex = issues.indexOf(issue);
      return issues[issueIndex - 1];
    }
  }
}

const nextIssue = getNextIssue();
const prevIssue = getPrevIssue();

const issue = Astro.props;
const { Content } = await render(issue);
---

<Layout
  title={issue.data.title}
  description={issue.data.description}
  publishedDate={issue.data.date}
  isArticle={true}
>
  <Container>
    <div class="space-y-10">
      <div class="space-y-1">
        <h1 class="animate text-3xl font-semibold text-black dark:text-white">
          {issue.data.title}
        </h1>
        <div class="animate flex items-center gap-1.5 text-xs uppercase tracking-wide text-black/60 dark:text-white/60">
          <div>
            <FormattedDate date={issue.data.date} />
          </div>
          &bull;
          {issue.body && (
            <div>
              {readingTime(issue.body)}
            </div>
          )}
          &bull;
          <OpenInAI issueId={Astro.params.id} title={issue.data.title} />
        </div>
      </div>
      <SubscribeButton />
      <article class="animate mb-0">
        <Content />
        <div class="mt-6">
          <IssueNavigation prevIssue={prevIssue} nextIssue={nextIssue} />
        </div>
      </article>
    </div>
  </Container>
</Layout>
